@tailwind base;
@tailiwnd components;
@tailwind utilities;

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: 5px;
  padding: 0.5rem;
}
.form-input::-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input::-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input::placeholder {
  color: #9e9e9e;
  opacity: 1;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-color: #63b3ed;
}

.pl-3 {
  padding-left: 0.9rem;
}

.pl-8 {
  padding-left: 2rem;
}

.right-btn {
  float: right;
}

.container {
  width: 100%;
}

.title-center {
  align-items: center;
  margin-left: 40%;
}

.title-size {
  font-size: 1.5rem;
}

.upload-btn {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  z-index: 10000;
}
.upload-button {
  background: linear-gradient(to bottom, #b4e6ed 5%, #7fa5f0 100%);
  background-color: #b4e6ed;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 10px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.upload-button:hover {
  background: linear-gradient(to bottom, #7fa5f0 5%, #b4e6ed 100%);
  background-color: #7fa5f0;
}

.side-selected {
  background-color: rgba(62, 178, 255, 0.89);
}

.btn-color {
  color: rgba(62, 178, 255, 0.89);
}

.bookmark-color {
  color: rgba(62, 178, 255, 0.89);
}

.icon-color:focus-within {
  color: rgba(62, 178, 255, 0.89);
}
